.section__cover {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-top: 124px;
}

img.section__cover-image {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    height: 100%;
    top: 0;
    right: 0;
}

.section__cover .section__bg-title {
    text-transform: uppercase;
}

.section__cover .container {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}

.section__cover .slider__wrap {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
}

.section__cover .slider__desc {
    width: 24%;
    font-size: 18px;
    line-height: 22px;
}

.section__cover .slider__inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 75%;
}

.section__cover .slider {
    display: flex;
    gap: 30px;
}

.section__cover .slide {
    position: relative;
    height: 83px;
    padding: 0 15px;
}

.section__cover .slider .slick-track {
    margin: 0 -15px;
}

.section__cover .slide > img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.section__cover .section__title {
    max-width: 966px;
}

.section__cover .section__desc {
    max-width: 690px;
}


@media screen and (max-width: 768px) {
    .section__cover .section__bg-title {
        font-size: 100vw;
        line-height: 100vw;
    }

    .section__cover {
        background-image: none;
    }

    .section__cover .slider__wrap {
        flex-direction: column;
    }

    .section__cover .slider__desc {
        width: 100%;
    }

    .section__cover .slider__inner {
        width: 100%;
    }
    
    .section__cover .slide {
        padding: 0 10px;
    }

    .section__cover .slider .slick-track {
        margin: 0;
    }
}